/*dive's*/
.top-Container {
    margin-left: 30%;
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 0px;
    padding-bottom: 0px;
    margin-right: 30%;
    margin-top: 20%;
    margin-bottom: 0px;
}


/*Body*/
body{
    background-color: black;
}



/* text */
.text {
    color: #25ff00;
    font-style: normal;
    font-weight: 400;
    letter-spacing: .06em;
    font-family: 'Source Code Pro', monospace;
    text-align: center;
}

h2 {
    font-size: medium;
}
